<div class="form-group">
    <label for="name">1. Stream name</label>
    <input type="text" class="form-control" id="name" placeholder="Enter stream name">
</div>
<input type="hidden" name="movie_url" value="{{movie_url}}">
<button type="submit" class="btn btn-lg btn-primary"><i class="fa fa-play-circle"></i> Start playback and add content!</button>

