{{#each streams}}
    <div>
        <input id="stream_{{@index}}" type="checkbox">
        <label for="stream_{{@index}}">
            <span class="title">{{this.name}}</span>
            <span class="description">Funny stream containing movie mistakes</span>
        </label>
    </div>
{{else}}
    <div>
        <p>Unfortunately no streams are available.</p>
    </div>
{{/each}}
