{{#each movies}}
<div data-movie-url="{{ this.href }}">
    <div class="left img"
        {{#if this.cover_img }}
            style="background-image:url({{ this.cover_img }})">
        {{else}}
            style="background-image:url(http://placehold.it/100x100)">
        {{/if}}
    </div>
    <div class="right">
        <h3>{{ this.title }}</h3>
        <p>A very short description of the movie here... Maybe movie duration and some other basic info as well?</p>
        <span class="label"><i class="fa fa-tags"></i> 12 streams available</span>
    </div>
</div>
{{/each}}
