<nav class="navbar navbar-default navbar-top" id="top_toolbar">
    <button class="btn btn-default back" type="button"><i class="fa fa-angle-double-left"></i> Back</i></button>
    <h2>{{ movie.title }}</h2>
</nav>
<div class="row" id="playback_row">
    <div class="col-md-12" id="content">
        <div id="inner_viewport">
        </div>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom" role="navigation" id="bottom_toolbar">
    <button class="btn btn-default timeline" id="timeseek_btn"><i class="fa fa-clock-o"></i> <span id="playback_time">00:00:00</span></button>
    <i id="play_pause_button" class="fa fa-pause"></i>
    {{#if inEditMode}}
        <button class="btn btn-default add_item" data-tap-url="add_item.html" id="add_item_button"><i class="fa fa-plus"></i> Add Story</button>
    {{/if}}
</nav>

