<div class="list-group">
    {{#if user}}
        <a class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-user"></i> Your streams</h4>
            <button class="btn btn-primary" data-tap-url="your_streams.html"><i class="fa fa-tags"></i> See your streams</button>
        </a>
        <a class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-user"></i> Logged in as {{username}}</h4>
            <button class="btn btn-primary" id="logout_btn"><i class="fa fa-sign-out"></i> Logout</button>
        </a>
    {{else}}
        <a class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-user"></i> You are not logged in</h4>
            <button class="btn btn-primary" data-tap-url="user_registration.html" id="login_btn"><i class="fa fa-sign-in"></i> Login/Register</button>
        </a>
    {{/if}}

    <a class="list-group-item">
            <h4 class="list-group-item-heading"><i class="fa fa-exclamation-circle"></i> Notifications</h4>
            <select id="notificationLevel">
                <option value="none">None</option>
                <option value="vibrate">Vibrate</option>
                <option value="beep">Beep</option>
                <option value="vibrate_beep">Vibrate &amp; Beep</option>
            </select>
    </a>
</div>
