$purple: #463265;
$button-color: #333;

#content a {
    text-decoration:underline;
}

#content .thumbnail {
    float:right;
    margin:0 0 10px 12px;
}

.fa {
    color:white;
}

#search_toolbar {
    margin-top:0.8em;
    margin-bottom:1em;
}

#search_results {
    padding-left:0;
    padding-right:0;
}

.search-result-movie {
    $radiusSize: 6px;

    height: 100px;
    margin: 10px 10px;
    font-size: 20px;

    background-color: $button-color;
    background-image: linear-gradient(to bottom, lighten($button-color, 4%), $button-color);
    border: 1px solid $button-color;
    border-radius: $radiusSize;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #eee;
    padding: 1px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);

    .movie-title {
        display: table;
        height: 100%;

        span {
            vertical-align: middle;
            display: table-cell;
        }
    }


    .movie-cover-art {
        padding: 0;
        height: 100%;
        background-size: contain;
        background-repeat: no-repeat;
        border-radius: $radiusSize 0 0 $radiusSize;
    }

    .movie-stream-count {
        border-radius: 0 $radiusSize $radiusSize 0;
        font-size: 65px;
        line-height: 100px;
        color: #fff;
        background-color: $purple;
        text-align: center;
        height: 100%;
        padding-left: 0;
        padding-right: 0;
    }
}

.search-result-movie.active {
    background:gray;
}

.navbar-top {
    margin-left:-15px;
    margin-right:-15px;
}

.navbar h2 {
    display:inline-block;
    margin: 0 0.6em;
    max-width:55%;
    font-size:1.9em;
}

.navbar {
    padding:0.5em;
}

.back {
    vertical-align:top;
}

#content h2 {
    margin-top:0.2em;
}

#play_pause_button {
    font-size:3.4em;
    margin-left:1.5em;
}

.navbar-fixed-bottom > * {
    vertical-align:middle;
}

.navbar-fixed-bottom {
    text-align:center;
    padding:0.2em 0;
}

.navbar-fixed-bottom .timeline {
    font-size:1.5em;
    position:absolute;
    top:0.5em;
    left:0.5em;
    padding:0.2em 0.5em;
}

.navbar-fixed-bottom .add_item {
    font-size:1.5em;
    position:absolute;
    top:0.5em;
    right:0.5em;
    padding:0.2em 0.5em;
}

#add_content_buttons button {
    display:block;
    margin:1em auto;
    padding:0.5em 2em;
    width:80%;
    font-size:1.5em;
}

#add_text_block_form textarea {
    border-radius:4px;
    width:100%;
    padding:8px 12px;
    font-size:14px;
    height:10em;
}

form {
    font-size:1.3em;
}

#add_text_block_form .form-group {
    margin-bottom:2em;
}

#movie_details h2 {
    display:inline-block;
    margin-top:0;
    margin-left:15px;
}

#movie_details #add_new_stream_button {
    display:inline-block;
    margin-left:4em;
    vertical-align:super;
}

#movie_details input[type="checkbox"] {
    min-width:3.2em;
    min-height:3.2em;
    vertical-align:top;
}

#movie_details label {
    display:inline-block;
    max-width:80%;
    font-weight:normal;
    margin-left:0.7em;

    h3 {
        margin-top: 0;
    }
}

#movie_details .streams > div {
    padding:0.5em 15px;
}

#movie_details .streams > div:nth-child(2n) {
    background:#484848;
}

#movie_details {
    padding-left:0;
    padding-right:0;
}

#start_playing_button {
    font-size:1.5em;
}

#start_playing_button i {
    vertical-align:sub;
    font-size:1.8em;
}

#create_stream_form [type="submit"] i {
    font-size:1.5em;
    vertical-align:middle;
}

#create_stream_form input[type="text"] {
    font-size:1.3em;
    height:auto;
}

.fa-spin.loading {
    font-size:3em;
}

#playback_row #content #inner_viewport div.entry {
    float:left;
    height:100%;
}

#playback_row #content {
    width:100%;
    overflow:hidden;
}

#playback_row #content #inner_viewport {
    width:99999%;
    overflow:hidden;
    -webkit-transition:all 0.35s;
    transition:all 0.35s;
}

#search_toolbar #menu-button {
    float:left;
    margin-right:20px;
}

#settings {
    height:100%;
    width:90%;
    position:absolute;
    top:0;
    left:0;
    z-index:1;
}

#settings_body {
    font-size:1.3em;
}

#settings .panel {
    height:100%;
}

#settings .panel .panel-heading {
    border-radius:0px;
    border-top:none;
    border-left:none;
}

#settings .panel-heading h2 {
    font-size:1.8em;
}

#settings .panel .list-group-item {
    background:#353a41;
}

#settings .list-group-item-heading {
    margin-bottom:0.6em;
    font-size:1.1em;
}

#pageIndex, #pageIndex body {
    overflow:hidden;
    width:100%;
    height:100%;
}

#pageIndex #main-content {
    height:100%;
    position:absolute;
    top:0;
    left:0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
    width:100%;
    background:#272b30;
    -webkit-transform:translate3d(0,0,0);
    z-index:2;
    -webkit-transition:all .3s;
}

.popup {
    position:fixed;
    left:10%;
    width:80%;
    text-align:center;
    font-size:1.5em;
    padding:1.5em 1em;
    border-radius:1em;
    -webkit-transition:opacity .35s;
    background:#49515a;
    opacity:0;
    visibility:hidden;
}

.popup.active {
    visibility:visible;
    opacity:1;
}

.popup.movie_ended p {
    color:white;
    font-size:1.2em;
}

.movie_ended button {
    margin-top:1em;
    margin-left:1em;
}

.movie_ended button.first {
    margin-left:0;
}

.movie_ended button .fa {
    color:black;
}

#time_seek_popup {
    bottom:12%;
    padding-left:0.1em;
    padding-right:0.1em;
}

#time_seek_popup h2 {
    margin-bottom:1em;
}

#time_seek_popup .label_row label {
    display:inline-block;
    width:80px;
}

#time_seek_popup .input_row input {
    display:inline-block;
    width:80px;
}

#time_seek_popup #hours:after {
    content:":";
}

#time_seek_popup button {
    margin-top:1em;
    margin-right:1em;
}

#time_seek_popup button .fa {
    color:white;
}

#time_seek_popup button:last-child {
    margin-right:0;
}

#movie_details .basic_info {
    overflow:hidden;
    margin-bottom:2em;
    margin-left:15px;
    margin-right:15px;
    font-size:1.3em;
}

#movie_details .cover_img {
    background-size:cover; /* contain might be better? */
    background-repeat:no-repeat;
    height:200px;
    width:150px;
    float:left;
}

#movie_details dl {
    float:left;
    margin-left:1.5em;
    margin-top:0;
    margin-bottom:0;
}

#movie_details dd {
    margin-left:1em;
}

#movie_details dt {
    margin-top:0.7em;
}
