@import "base";
@import "btn";

$textColor: #c8c8c8;

.search-result-wikipedia {
    margin:10px 10px;
    padding:10px;
    font-size:20px;
    border-radius: 6px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.4) inset, 0 1px 1px rgba(0, 0, 0, 0.2);
    color: #eee;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);

    background-color: $button-color;
    background-image: linear-gradient(to bottom, lighten($button-color, 4%), $button-color);
}

.entry {
    overflow:auto;
    margin-right:30px;
}

.movie_details_container {
    // We have a fixed toolbar in the bottom of the page
    // so we need padding to ensure that the toolbar
    // doesn't overlap with actual content
    padding-bottom:64px;
}
